<!DOCTYPE html>
<html>
  <head>
    <title>Soctrack</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'cable', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

    <!-- jQuery -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> -->
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>

    <!-- Firechat -->
    <link rel="stylesheet" href="https://cdn.firebase.com/libs/firechat/3.0.1/firechat.min.css" />
    <script src="https://cdn.firebase.com/libs/firechat/3.0.1/firechat.min.js"></script>

    <script language="JavaScript" type="text/javascript" src="http://kjur.github.io/jsrsasign/jsrsasign-latest-all-min.js"></script>
    <!--<script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>-->
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDgOF6TspoNEYW-ewhgX6sW6NqSJhtsR1U",
    authDomain: "soctrack-5ec1b.firebaseapp.com",
    databaseURL: "https://soctrack-5ec1b.firebaseio.com",
    storageBucket: "soctrack-5ec1b.appspot.com",
    messagingSenderId: "848984876300"
  };
  firebase.initializeApp(config);
</script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="">
        <div class="navbar-header">
          <a class="navbar-brand" href=""><%= image_tag "netjetsLogo.png", :style => "max-height: 100%;"%></a>
          <a class="navbar-brand" href=""><%= @title || "SocTrack" %></a>
        </div>
        <div class="collapse navbar-collapse" >
          <% if user_signed_in? %>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name %><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="javascript:;">Role: <%= current_user.role %></a></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
              </ul>
            </li>
          </ul>
          <%end%>
        </div>
      </div>
    </nav>
    <% if flash[:alert] %>
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= flash[:alert] %>
    </div>
    <% end %>
    <% if flash[:notice] %>
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= flash[:notice] %>
    </div>        <% end %>
    <%= yield %>
    <div class="row">
        <div id="firechat-wrapper">
          UserId <input type="text" id="txtUserId"></input>
          DisplayName <input type="text" id="txtDisplayName"></input>
          <button id="btnFirechat">Chat</button>
        </div>
  </body>
</html>
