<p id="notice"><%= notice %></p>

<p>
  <strong>Tail:</strong>
  <%= @recovery.tail %>
</p>

<p>
  <strong>Leg:</strong>
  <%= @recovery.leg %>
</p>

<p>
  <strong>Selected:</strong>
  <%= @recovery.selected %>
</p>

<p>
  <strong>Ab:</strong>
  <%= @recovery.AB %>
</p>

<p>
  <strong>Os:</strong>
  <%= @recovery.OS %>
</p>

<p>
  <strong>Cs:</strong>
  <%= @recovery.CS %>
</p>

<p>
  <strong>Dx:</strong>
  <%= @recovery.DX %>
</p>

<p>
  <strong>Ops:</strong>
  <%= @recovery.OPS %>
</p>

<p>
  <strong>Mx:</strong>
  <%= @recovery.MX %>
</p>

<p>
  <strong>Itp:</strong>
  <%= @recovery.ITP %>
</p>

<p>
  <strong>Sc:</strong>
  <%= @recovery.SC %>
</p>

<%= link_to 'Edit', edit_recovery_path(@recovery) %> |
<%= link_to 'Back', recoveries_path %>
